<div class="card-header fluid-container border-0">
  <nav class="navbar bg-light navbar-light justify-content-between">
      <a class="navbar-brand d-none d-lg-block d-xl-block" href="#">
      <svg xmlns="http://www.w3.org/2000/svg" width="339" height="45" viewBox="0 0 339 45">
        <defs>
          <style>.a{fill:#707070;font-size:41px;font-family:TwCenMT-Regular, Tw Cen MT;}.b{font-size:23.915px;baseline-shift:13.66530021099821;}</style>
        </defs>
        <text class="a" transform="translate(0 35)">
            <tspan x="0" y="0">An Open Internet </tspan>
          </text>
        </svg>
      </a>
      <a class="navbar-brand d-block d-lg-none" href="#">
      <svg xmlns="http://www.w3.org/2000/svg" width="300" height="35" viewBox="0 0 339 45">
        <defs>
          <style>.a{fill:#707070;font-size:41px;font-family:TwCenMT-Regular, Tw Cen MT;}.b{font-size:23.915px;baseline-shift:13.66530021099821;}</style>
        </defs>
        <text class="a" transform="translate(0 35)">
            <tspan x="0" y="0">An Open Internet </tspan>
          </text>
        </svg>
      </a>
      <!-- a class="navbar-brand d-block d-sm-none" href="#">
      <svg xmlns="http://www.w3.org/2000/svg" width="155" height="25" viewBox="0 0 339 45">
        <defs>
          <style>.a{fill:#707070;font-size:41px;font-family:TwCenMT-Regular, Tw Cen MT;}.b{font-size:23.915px;baseline-shift:13.66530021099821;}</style>
        </defs>
        <text class="a" transform="translate(0 35)">
            <tspan x="0" y="0">An Open Internet </tspan>
          </text>
        </svg>
      </a-->

      <script type="text/javascript">
      // Google Internal Site Search script- By JavaScriptKit.com (http://www.javascriptkit.com)
      // For this and over 400+ free scripts, visit JavaScript Kit- http://www.javascriptkit.com/
      // This notice must stay intact for use
      //Enter domain of site to search.
      var domainroot="anopeninternet.eu.org"
      function Gsitesearch(curobj){
      curobj.q.value="site:"+domainroot+" "+curobj.qfront.value
      }
      </script>

        <form class="border-0 float-right" action="https://www.google.com/search" method="get" onSubmit="Gsitesearch(this)">
        <input name="q" type="hidden" />
        <input name="qfront" style="border-radius: 25px;" type="text"/>
        <input type="submit" class="btn btn-outline-info border-0" style=" border-radius: 25px;" value="Search" /></p>
        </form>

 </nav>

</div>
