<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <title>{{ page.title }} - An Open Internet </title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    {% feed_meta %}
    {% seo %}
  </head>
  <body>
  <div class="card text-center">
  <div class="card-header">
    {% include nav.html %}
  </div>
  <div class="card-body">
    <div class="row">
    {{ content}}
    </div>
  </div>

  {% include footer.html %}

  </body>
</html>
